<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="conn" value="Data Source = 192.168.187.201;Initial Catalog = MDInsuranceDB;User Id = sa;Password = Sa123456789;" />
  </appSettings>
</configuration>
